body {
    background-color: #fff;
}

.header {
    padding: 0 3px;
}

.header__logo {
    font-size: 1.5rem;
    color: #f8b400;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header__logo:hover {
    color: #ffca2c;
}

.content {
    padding: 40px 20px;
}
