body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    font-family: "Lora", serif;
    height: 45px;
    background-color: #fff;
}

.header__logo {
    margin-left: 20px;
    font-size: 30px;
    color: #f8b400;
    text-decoration: none;
}

.content {
    padding: 40px 20px;
    flex-direction: column;
}
