.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.register-form {
    padding: 20px;
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #777;
}

.form-control-file {
    margin-top: 5px;
}

.season-checkboxes {
    margin-top: 10px;
}

.form-check {
    margin-right: 10px;
}

.required {
    color: red;
    font-weight: bold;
}

.btn {
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-secondary {
    background-color: #cccccc;
    color: #ffffff;
    border: none;
}

.btn-secondary:hover {
    background-color: #b3b3b3;
}

.btn-warning {
    background-color: #ffc107;
    color: #ffffff;
    border: none;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.text-center {
    text-align: center;
}

/* バリデーションエラーメッセージのスタイル */
.text-danger {
    color: #ff0000;
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
}