.container {
    max-width: 1300px;
    display: flex;
}

/* 商品検索フォームのスタイル */
.sidebar {
    margin-bottom: 10px;
    margin-right: -50px;
}

.title {
    margin-top: -5px;
    font-size: 25px;
    font-weight: bold;
}

.form-control {
    width: 210px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 20px;
}

.form-control-inner {
    width: 230px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.sort-tag {
    width: 120px;
    align-items: center;
    text-align: center;
    border: 1px solid #f8c94a;
    background-color: #e6e6e6;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.sort-tag .remove-sort {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: 1px solid #333;
    border-radius: 50%;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    text-align: center;
}

.sort-tag .remove-sort:hover {
    color: #000;
}

.btn-warning {
    padding: 10px 100px;
    margin: 5px;
    margin-bottom: 30px;
    background-color: #f8c94a;
    border: none;
    color: #474444;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.text-right {
    text-align: right;
    margin-bottom: 30px;
    width: 100%;
}

.text-right .btn-warning {
    font-size: 15px;
    background-color: #f7a502;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 25px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* 商品カードのスタイル */
.products-container {
    width: 80%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.3333% - 20px);
    text-decoration: none;
    background-color: #fff;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 10px 5px;
    height: 25px;
}

.card-title {
    font-size: 16px;
    color: #9d9c9c;
}

.card-text {
    font-size: 16px;
    color: #9d9c9c;
    font-weight: bold;
    text-align: right;
}

.text-decoration-none {
    text-decoration: none;
    color: inherit;
}

/* ページネーションのスタイル */
.pagination {
    margin-top: 20px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination .page-item {
    list-style: none;
}

.pagination .page-item .page-link {
    background-color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 50%;
    padding: 10px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.pagination .page-item.active .page-link {
    background-color: #f8c94a;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.pagination .page-item .page-link:hover {
    background-color: #f8c94a;
    color: #fff;
    text-decoration: none;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    width: 13px;
    font-size: 16px;
    border-radius: 50%;
    text-decoration: none;
}
