.container {
    max-width: 600px;
    margin: auto;
}

.register-form {
    background-color: #f9f9f9;
    padding: 40px;
}

.register-form h3 {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 25px;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.required {
    color: red;
    font-weight: bold;
}

.form-control, .form-control-file {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}

.form-control::placeholder {
    color: #a9a9a9;
    opacity: 1; /* プレースホルダーの不透明度 */
}

.form-control-file {
    padding: 5px;
}

.season-checkboxes .form-check {
    display: inline-block;
    margin-right: 15px;
}

.season-checkboxes label {
    margin-left: 5px;
    font-weight: normal;
}

.btn-secondary {
    background-color: #e0e0e0;
    color: #000;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #d5d5d5;
}

.btn-warning {
    background-color: #f8b400;
    border-color: #f8b400;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-warning:hover {
    background-color: #ffca2c;
    border-color: #ffca2c;
}

.form-group.text-center {
    margin-top: 40px;
}

/* バリデーションエラーメッセージのスタイル */
.form-error {
    color: #ff0000;
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
}